fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
email-validator
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-keycloak
requests
geoalchemy2
shapely
transformers
torch
celery
redis
